$font-family: Georgia, 'Times New Roman', Times, serif;
$backgroundColor: #efefef;
$textColor: #757575;
$borderColor: #cfd8dc;
$aColor: #fc644a;
$searchColor: $aColor;
$articleColor: #ffffff;
$post-descriptionColor: #bdbdbd;
$h3Color: #617e8c;
$aboutMeColor: #fc5830;
$contactColor: #fc5830;
$contacButtontColor: #fc5830;