$font-family: Geneva, Arial, Helvetica, sans-serif;
$backgroundColor: #ffffff; 
$textColor: #617d8a;
$borderColor: $textColor;
$aColor: #4ec3d8;
$searchColor: $aColor;
$articleColor: #efefef;
$post-descriptionColor: #159587;
$h3Color: #1697a6;
$aboutMeColor: #1fbcd3;
$contactColor: #1fbcd3;
$contacButtontColor: #1fbcd3;