* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

ul {
    margin: 10px 0;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

ul:empty + p {
    display: block;
}

section {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
}

:disabled {
    cursor: not-allowed;
}

#root {
    width: 300px;
    min-height: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-done,
.checkbox-undone,
.todo-text,
.remove {
    width: 35px;
    height: 35px;
    border: 0;
    background-color: unset;
}

.checkbox-undone {
    background-image: url("./img/todo-s.png");
}

.checkbox-done {
    background-image: url("./img/done-s.png");    
    cursor: not-allowed;
}

.checkbox-done + .todo-text {
    background: #bbb;
}

.todo-text {
    flex: 1;
}

.remove {
    background-image: url("./img/remove-s.jpg");
}

.empty-todo {
    text-align: center;
    display: none;
}
